@charset "utf-8";
/*! template - v0.0.1 - 2016-11-03 */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;

  src: url('../fonts/NanumGothic-Regular.eot');
  src: url('../fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/NanumGothic-Regular.woff2') format('woff2'), url('../fonts/NanumGothic-Regular.woff') format('woff'), url('../fonts/NanumGothic-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;

  src: url('../fonts/NanumGothic-Bold.eot');
  src: url('../fonts/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/NanumGothic-Bold.woff2') format('woff2'), url('../fonts/NanumGothic-Bold.woff') format('woff'), url('../fonts/NanumGothic-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;

  src: url('../fonts/NanumGothic-ExtraBold.eot');
  src: url('../fonts/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/NanumGothic-ExtraBold.woff2') format('woff2'), url('../fonts/NanumGothic-ExtraBold.woff') format('woff'), url('../fonts/NanumGothic-ExtraBold.ttf') format('truetype');
}
/* line 6, SourceCode\less\common\normalize.less */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
/* line 16, SourceCode\less\common\normalize.less */
body {
  margin: 0;
}
/* line 30, SourceCode\less\common\normalize.less */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/* line 51, SourceCode\less\common\normalize.less */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
/* line 64, SourceCode\less\common\normalize.less */
audio:not([controls]) {
  display: none;
  height: 0;
}
/* line 74, SourceCode\less\common\normalize.less */
[hidden],
template {
  display: none;
}
/* line 86, SourceCode\less\common\normalize.less */
a {
  background-color: transparent;
}
/* line 95, SourceCode\less\common\normalize.less */
a:active,
a:hover {
  outline: 0;
}
/* line 107, SourceCode\less\common\normalize.less */
abbr[title] {
  border-bottom: 1px dotted;
}
/* line 115, SourceCode\less\common\normalize.less */
b,
strong {
  font-weight: bold;
}
/* line 124, SourceCode\less\common\normalize.less */
dfn {
  font-style: italic;
}
/* line 133, SourceCode\less\common\normalize.less */
h1 {
  margin: .67em 0;
  font-size: 2em;
}
/* line 142, SourceCode\less\common\normalize.less */
mark {
  color: #000;
  background: #ff0;
}
/* line 151, SourceCode\less\common\normalize.less */
small {
  font-size: 80%;
}
/* line 159, SourceCode\less\common\normalize.less */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
/* line 167, SourceCode\less\common\normalize.less */
sup {
  top: -.5em;
}
/* line 171, SourceCode\less\common\normalize.less */
sub {
  bottom: -.25em;
}
/* line 182, SourceCode\less\common\normalize.less */
img {
  border: 0;
}
/* line 190, SourceCode\less\common\normalize.less */
svg:not(:root) {
  overflow: hidden;
}
/* line 201, SourceCode\less\common\normalize.less */
figure {
  margin: 1em 40px;
}
/* line 209, SourceCode\less\common\normalize.less */
hr {
  height: 0;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
/* line 218, SourceCode\less\common\normalize.less */
pre {
  overflow: auto;
}
/* line 226, SourceCode\less\common\normalize.less */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* line 249, SourceCode\less\common\normalize.less */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
/* line 263, SourceCode\less\common\normalize.less */
button {
  overflow: visible;
}
/* line 274, SourceCode\less\common\normalize.less */
button,
select {
  text-transform: none;
}
/* line 287, SourceCode\less\common\normalize.less */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
/* line 299, SourceCode\less\common\normalize.less */
button[disabled],
html input[disabled] {
  cursor: default;
}
/* line 308, SourceCode\less\common\normalize.less */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/* line 319, SourceCode\less\common\normalize.less */
input {
  line-height: normal;
}
/* line 331, SourceCode\less\common\normalize.less */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
/* line 343, SourceCode\less\common\normalize.less */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/* line 353, SourceCode\less\common\normalize.less */
input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}
/* line 364, SourceCode\less\common\normalize.less */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 373, SourceCode\less\common\normalize.less */
fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}
/* line 384, SourceCode\less\common\normalize.less */
legend {
  padding: 0;
  border: 0;
}
/* line 393, SourceCode\less\common\normalize.less */
textarea {
  overflow: auto;
}
/* line 402, SourceCode\less\common\normalize.less */
optgroup {
  font-weight: bold;
}
/* line 413, SourceCode\less\common\normalize.less */
table {
  border-spacing: 0;
  border-collapse: collapse;
}
/* line 418, SourceCode\less\common\normalize.less */
td,
th {
  padding: 0;
}
/* 
---------------------------------------------------------------
*
* common.less
*
---------------------------------------------------------------
*/
/* line 13, SourceCode\less\common\common.less */
html {
  font-size: 10px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* line 18, SourceCode\less\common\common.less */
body {
  font-family: "Nanum Gothic", "나눔고딕", "Malgun Gothic", "맑은고딕", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
/* line 27, SourceCode\less\common\common.less */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
/* line 39, SourceCode\less\common\common.less */
a {
  color: #06f;
  text-decoration: none;
}
/* line 43, SourceCode\less\common\common.less */
a:hover,
a:focus {
  color: #005ce6;
}
/* 
---------------------------------------------------------------
*
* site1
*
---------------------------------------------------------------
*/
/* line 10, SourceCode\less\custom\site1.less */
.wrapper {
  width: 900px;
  margin: 0 auto;
}
/* line 2, SourceCode\less\common\mixins.less */
.wrapper:before,
.wrapper:after {
  display: table;
  content: " ";
}
/* line 7, SourceCode\less\common\mixins.less */
.wrapper:after {
  clear: both;
}
/* line 16, SourceCode\less\custom\site1.less */
.header {
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
}
/* line 22, SourceCode\less\custom\site1.less */
.header ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 2, SourceCode\less\common\mixins.less */
.header ul:before,
.header ul:after {
  display: table;
  content: " ";
}
/* line 7, SourceCode\less\common\mixins.less */
.header ul:after {
  clear: both;
}
/* line 28, SourceCode\less\custom\site1.less */
.header ul li {
  float: left;
}
/* line 31, SourceCode\less\custom\site1.less */
.header ul li a {
  display: block;
  float: left;
  padding: 10px 20px;
  color: #fff;
  background-color: #333;
}
/* line 38, SourceCode\less\custom\site1.less */
.header ul li a:hover {
  background-color: #4d4d4d;
}
/* line 46, SourceCode\less\custom\site1.less */
.main {
  padding: 30px 0;
}
/* line 48, SourceCode\less\custom\site1.less */
.main h1 {
  padding-left: 10px;
  background: url('../images/icon-arrow-right-black.gif') no-repeat left 19px;
}
/* line 54, SourceCode\less\custom\site1.less */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
  color: #fff;
  background-color: #333;
}
